body {
    background-color: #2e6ea6fd;
    color: #333333;
}

.stButton>button {
    background-color: transparent;
    color: #28a745; /* Green color */
    border: 2px solid #28a745; /* Green outline */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.stButton>button:hover {
    background-color: #28a745; /* Green color on hover */
    color: white; /* White text color on hover */
}

.stButton>button:active {
    background-color: #218838; /* Darker green color when clicked */
    border-color: #218838; /* Darker green outline when clicked */
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4px;
    border-radius: 5px;
    font-size: 14px;
    color: grey;
    z-index: 9999; /* Ensure it's above other content */
}
